attrs
deprecated
importlib_metadata; python_version < '3.8'
matplotlib
numpy
pandas
packaging
python-dateutil
scikit-learn
scipy
seaborn
setuptools-git
statsmodels
typing-extensions; python_version < '3.8'
